---
layout: default
---
<div class="date">{{ page.date | date_to_string }}</div>
<div class="title">{{ page.title }}</div>
{% if page.subtitle %} <div class="subtitle">{{ page.subtitle }}</div> {% endif %}

<div class="post">
{{ content }}
</div>

<div class="prev-next-footer">
{% for post in site.posts %}
		{% assign prev = site.posts[forloop.index] %}
		{% if post.title == page.title %}
		{% if prev %}
		<div class="prev-post"><a href="{{ site.url }}{{ prev.url }}">&larr; {{ prev.title }}</a></div>
	  {% endif %}
		{% if next %}
		<div class="next-post"><a href="{{ site.url }}{{ next.url }}">{{ next.title }} &rarr;</a></div>
	  {% endif %}
	  {% endif %}
	  {% assign next = post %}
{% endfor %}
</div>

<div class="clearfix"></div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'nicholaskariniemi';
        var disqus_url = '{{ site.url }}{{ page.url }}';
        var disqus_identifier = '{{ page.manual_id }}' || '{{ page.id }}';

        if(window.location.hostname !== "localhost") {
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
				}
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink text-center">comments powered by <span class="logo-disqus">Disqus</span></a>
    
