---
layout: default
---
<div class="date">{{ page.date | date_to_string }}</div>
<h3 class="title">{{ page.title }}</h3>

<div class="post">
{{ content }}
</div>

{% for post in site.posts %}
		{% assign prev = site.posts[forloop.index] %}
		{% if post.title == page.title %}
		{% if prev %}
		<div class="pull-left"><a href="{{ site.url }}{{ prev.url }}">&larr; {{ prev.title }}</a></div>
	  {% endif %}
		{% if next %}
		<div class="pull-right"><a href="{{ site.url }}{{ next.url }}">{{ next.title }} &rarr;</a></div>
	  {% endif %}
	  {% endif %}
	  {% assign next = post %}
{% endfor %}

<div class="clearfix"></div>
